<!-- templates/reset_password.html -->

{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <section>
        <h2>Reset Password</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <label for="password">Password:</label>
            {{ form.password(size=20) }}
            <br>
            <label for="password2">Repeat Password:</label>
            {{ form.password2(size=20) }}
            <br>
            <button type="submit">Reset Password</button>
        </form>
    </section>
{% endblock %}
